
[submodule "exercises/exercise5-solution"]
	path = exercises/exercise5-solution
	url = https://github.com/ruurdk/redis-lettuce-demo
	branch = main
[submodule "exercises/exercise7-start"]
	path = exercises/exercise7-start
	url = https://github.com/ruurdk/redisbank
	branch = basicstart
[submodule "exercises/exercise7-solution"]
	path = exercises/exercise7-solution
	url = https://github.com/ruurdk/redisbank
	branch = basic
[submodule "exercises/exercise5-start"]
	path = exercises/exercise5-start
	url = https://github.com/ruurdk/redis-lettuce-demo
	branch = mainstart
[submodule "exercises/exercise6-start"]
	path = exercises/exercise6-start
	url = https://github.com/ruurdk/redisbankplaces
	branch = masterstart
[submodule "exercises/exercise6-solution"]
	path = exercises/exercise6-solution
	url = https://github.com/ruurdk/redisbankplaces
	branch = master
