
[submodule "exercises/exercise5-solution"]
	path = exercises/exercise5-solution
	url = https://github.com/ruurdk/redis-lettuce-demo
[submodule "exercises/exercise5-start"]
	path = exercises/exercise5-start
	url = https://github.com/ruurdk/redis-lettuce-demo
